{% extends 'base2.html' %}

{% block body%}
<section class="section-content padding-y">
      <!-- ============================ COMPONENT REGISTER   ================================= -->
      <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
        <article class="card-body">
          <header class="mb-4"><h4 class="card-title">Add Your Review</h4></header>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" >
             </div> <!-- form-group// -->
             <div class="form-group">
               <input type="number" class="form-control" placeholder="Rating" >
             </div> <!-- form-group// -->
             <div class="form-group">
                {% comment %} <label for="review">Add Review</label> {% endcomment %}
               <textarea name="review" rows="4" cols="50" class="form-control" placeholder="Add Review" ></textarea>
             </div> <!-- form-group// -->
             
             
             <div class="form-group">
                 <a href="{% url 'submit_review' id %}" class="btn btn-primary btn-block" style="color:white"> Add Review  </a>
             </div> <!-- form-group// -->    
        </form>
        </article>
        <!-- card-body.// -->
      </div>
      <!-- card .// -->
  
      <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    </section>
{% endblock%}